
*.egg-info/
*.~lock*
*~
.DS_Store
.astro
.cache_dir/
.coverage
.env
.git
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.vscode/
__pycache__/
_build/
airflow_setttings.yaml
build/
datasets/
dist/
htmlcov/
notebooks/
docs/_build
Pipfile.lock
