antlr4-python3-runtime==4.9
backoff==1.10.0
Brotli==1.0.9
certifi==2020.12.5
CFGraph==0.2.1
chardet==4.0.0
chart-studio==1.1.0
click==7.1.2
dash==1.17.0
dash-bootstrap-components==0.11.1
dash-core-components==1.13.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
Flask==1.1.2
Flask-Compress==1.8.0
Flask-Cors==3.0.9
future==0.18.2
gunicorn==20.0.4
idna==2.10
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonasobj==1.2.1
MarkupSafe==1.1.1
mwoauth==0.3.7
numpy==1.19.4
oauthlib==3.1.0
pandas==1.1.4
pbr==5.5.1
plotly==4.14.3
PyJSG==0.11.6
PyJWT==1.7.1
pyparsing==2.4.7
PyShEx==0.7.20
PyShExC==0.8.3
python-dateutil==2.8.1
pytz==2020.4
rdflib==5.0.0
rdflib-jsonld==0.5.0
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
shexer==0.0.9
ShExJSG==0.7.1
simplejson==3.17.2
six==1.15.0
sparql-slurper==0.3.4
sparqlslurper==0.4.1
SPARQLWrapper==1.8.5
tqdm==4.54.1
urllib3==1.26.3
Werkzeug==1.0.1
wikidataintegrator==0.8.3
